@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.div-card-loading {
  width: 220px;
  height: 300px;
  background-color: rgba(45, 47, 65, 0.9);
  border-radius: 5px;
  background: linear-gradient(100deg, #2d2f41 30%, #3a3c50 50%, #2d2f41 70%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}