$bg-dark: rgba(29, 30, 41, 1);
$gray: rgba(181, 183, 187, 1);
$green: #00e08c;
$hover-green: rgba(83, 255, 170, 0.9);
$input-border: #595a63;
$input-bg: #2d2e37;
$text-light: #c2bfbf;
$card-width: 220px;
$card-height: 300px;
